@font-face {
    font-family: jurassicFont;
    src:url("assets/image/JurassicPark.ttf");
}

$title-font: 'jurassicFont', sans-serif;
$body-font: 'DM Sans', sans-serif;

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: rgb(251,176,59);
    background: linear-gradient(0deg, rgba(251,176,59,1) 0%, rgba(229,41,23,1) 100%) no-repeat fixed;
}

header {

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 5px;

    h1 {
        font-family: $title-font;
        font-size: 15rem;
        letter-spacing: 0.3rem;
        color: #FFFFFF;
        font-weight: 100;
        text-align: center;
        margin: 20px 20px 0 20px;
        white-space: nowrap;

    }

    a {
        text-decoration: none;

        h1 {
            &:hover {
                color: #FFD400;
            }
        }
    }
}

.searchBar {
    width: 406px;
    height: 40px;
    margin: 20px auto;
    display: flex;

    input {
        height: 100%;
        width: 80%;
        margin-left: 10px;
        border: none;
        border-radius: 5px;
        font-size: 1.6rem;
        font-family: $body-font;
        padding: 0 5%;
    }

    .searchButton {
        width: 20%;
        font-size: 1.6rem;
        background-color: #3CC001;
        cursor: pointer;
        padding: 0;
        font-weight: bold;
        color: #FFFFFF;
        border: #FFFFFF solid 2px;

        &:hover {
            background-color: #317400;
            cursor: pointer;
        }
    }
}


h3 {
    margin: auto;
    text-align: center;
}

.noticeMessage {
    font-family: $body-font;
    font-size: 3rem;
    color: white;
}

main {
    display: flex;
    justify-content: space-evenly;
}

button {
    border: transparent;
    background-color: #3CC001;
    color: #FFF;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: 5px;
    padding: 5px 10px;

    &:hover {
        background-color: #317400;
        cursor: pointer;
    }
}

.dinoGrid {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    row-gap: 40px;
    column-gap: 30px;
    justify-content: space-evenly;

    .dinoCard {
        width: 320px;
        height: 500px;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 10px;
        font-family: $body-font;
        text-align: center;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.8);
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.2s;
        }

        h2 {
            font-size: 2.5rem;

        }

        h4 {
            font-size: 1.5rem;
        }

        .dietContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            img {
                width: 30px;
                height: 30px;
            }
        }

    }
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #DEDEDE;
    padding: 10px;
    border-radius: 7px;

    img {
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
    }
}

.detailsCard {
    font-family: $body-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 350px;
    padding: 20px;
    margin: 40px;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.8);

    .imageContainer {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
        background-color: #DEDEDE;
        padding: 10px;
        border-radius: 7px;

        img {
            position: absolute;
            max-width: 100%;
            width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50%);
        }
    }

    .dietContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 5px;
        margin: 10px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    h2 {
        font-size: 3.6rem;
    }

    h4 {
        font-size: 2rem;
        margin: 0;
    }

    p {
        font-size: 2rem;
        border-style: solid none none none;
        border-width: 1px;
        border-color: rgba(0,0,0,0.4);
        width: 100%;
        text-align: center;
        padding: 10px 0;
        margin: 0;
    }


}

.flipY {
    transform: rotateY(180deg);
}


.backLink {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: #FFFFFF;
    font-family: $body-font;

    img {
        width: 32px;
        margin: 0 10px;
        transform: rotate(-90deg);
    }
}

h3 {
    color: #FFFFFF;
    font-family: $body-font;
    font-size: 3rem;
}

@media only screen and (max-width: 900px) {
    .detailsCard {
        .imageContainer {
            height: 300px;
        }

        h2 {
            font-size: 3rem;
        }
    }
}


@media only screen and (max-width: 400px) {

    header {

        h1 {
            font-size: 11rem;
        }
    }

    .searchBar {
        width: 310px;

        .searchButton {
            font-size: 1.4rem;

        }


    }

    h3 {
        font-size: 2.4rem;
    }
}