$title-font: 'Jurassic Park', sans-serif;
$body-font: 'DM Sans', sans-serif;

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: rgb(251,176,59);
    background: linear-gradient(0deg, rgba(251,176,59,1) 0%, rgba(229,41,23,1) 100%) no-repeat fixed;
}

header {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;

    h1 {
        font-family: $title-font;
        font-size: 15rem;
        letter-spacing: 0.3rem;
        color: #FFFFFF;
        font-weight: 100;
        text-align: center;
        margin: 20px;
        white-space: nowrap;
    }
}

main {
    display: flex;
    justify-content: space-evenly;
}

.dinoGrid {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    row-gap: 40px;
    column-gap: 30px;
    justify-content: space-evenly;

    .dinoCard {
        width: 320px;
        height: 500px;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 10px;
        font-family: $body-font;
        text-align: center;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.8);
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.2s;
        }

        h2 {
            font-size: 2.5rem;

        }

        h4 {
            font-size: 1.5rem;
        }

        .dietContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            img {
                width: 30px;
                height: 30px;
            }
        }

    }
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #DEDEDE;
    padding: 10px;
    border-radius: 7px;

    img {
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
    }
}

.detailsCard {
    font-family: $body-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    padding: 20px;
    margin: 40px;
    background-color: #DEDEDE;
    border-radius: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.8);

    .imageContainer {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;
        background-color: #DEDEDE;
        padding: 10px;
        border-radius: 7px;

        img {
            position: absolute;
            max-width: 100%;
            width: 100%;
            height: auto;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50%);
        }
    }

    .dietContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border: 1px solid #000000;
        width: fit-content;
        padding: 5px;
        margin: 10px;
        border-radius: 10px;

        img {
            width: 30px;
            height: 30px;
        }
    }

    h2 {
        font-size: 3.6rem;
    }

    h4 {
        font-size: 2rem;
        margin: 0;
    }

    p {
        font-size: 2rem;
        border-style: solid none none none;
        border-width: 1px;
        border-color: rgba(0,0,0,0.4);
        width: 100%;
        text-align: justify;
        padding: 10px 0;
        margin: 0;
    }


}

.dinoFeet {
    width: 200px;
}

.flipY {
    transform: rotateY(180deg);
}


.backLink {
    display: flex;
    align-items: center;

    img {
        width: 32px;
        margin: 0 10px;
        transform: rotate(-90deg);
    }
}

@media only screen and (max-width: 400px) {

    header {

        h1 {
            font-size: 11rem;
        }
    }
}