$title-font: 'Jurassic Park', sans-serif;
$body-font: 'DM Sans', sans-serif;

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: rgb(251,176,59);
    background: linear-gradient(0deg, rgba(251,176,59,1) 0%, rgba(229,41,23,1) 100%) no-repeat fixed;
}

header {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;

    h1 {
        font-family: $title-font;
        font-size: 15rem;
        letter-spacing: 0.3rem;
        color: #FFFFFF;
        font-weight: 100;
        text-align: center;
        margin: 20px;
        white-space: nowrap;
    }
}

.dinoGrid {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    row-gap: 40px;
    column-gap: 30px;
    justify-content: space-evenly;

    .dinoCard {
        width: 320px;
        height: 500px;
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 10px;
        font-family: $body-font;
        text-align: center;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.8);
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.1);
            transition: transform 0.2s;
        }

        h2 {
            font-size: 2.5rem;

        }

        h4 {
            font-size: 1.5rem;
        }

        .dietContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            img {
                width: 30px;
                height: 30px;
            }
        }

    }
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: #DEDEDE;
    padding: 10px;
    border-radius: 7px;

    img {
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
    }
}

@media only screen and (max-width: 400px) {

    header {

        h1 {
            font-size: 11rem;
        }
    }
}